@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
	font-family: 'Quicksand', sans-serif;
}

.thumbnail-container {
    background-color: #000;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.thumbnail-height {
	left: 0;
	padding-top: 56.25%;
	position: relative;
	top: 0;
	width: 100%;
}

.thumbnail-container img.thumbnail {
    opacity: 0.65;
    width: 100%;
}

.episode-item {
    padding-top: 56.25%;
    position: relative;
}

.episode-item iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.episode-info-btn {
	background: #547c5f;
	color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 20px 'Quicksand', sans-serif;
	letter-spacing: 1px;
    margin: 20px 0 15px;
    padding: 12px 45px 12px 20px;
    position: relative;
    text-transform: uppercase;
}

.episode-info-btn span::before, 
.episode-info-btn span::after {
	background: white;
	border-radius: 12px;
	content: '';
	position: absolute;
	transition: .3s;
}

.episode-info-btn span::before {
    height: 16px;
    right: 23px;
    top: 15px;
    width: 3px;
}

.episode-info-btn span::after {
	height: 3px;
    top: 21px;
    right: 16px;
    width: 17px;
}

.episode-info-btn.expanded span::before {
    transform: rotate(90deg);
}

.episode-info h2 {
	margin-bottom: 10px;
}

.episode-desc {
	font-size: 16px;
    margin-bottom: 30px;
}

.episode-desc h3.video-pg-header {
	margin: 30px 0 10px;
}

@media only screen and (min-width: 481px) and (max-width: 769px) {
	.custom-play-btn {
	    height: 100px;
	    margin-left: -50px;
	    margin-top: -50px;
	    width: 100px;
	}
}

@media only screen and (max-width: 480px) {
	.custom-play-btn {
	    height: 70px;
	    margin-left: -35px;
	    margin-top: -35px;
	    width: 70px;
	}
}

.series-categories-wrapper {
	padding-bottom: 40px;
}

ul.series-categories-list {
	border-bottom: 1px solid #bababa;
	border-top: 1px solid #bababa;
    margin: 10px 0 30px;
    padding: 10px 0;
}

ul.series-categories-list li.video-cat {
	color: #547c5f;
	cursor: pointer;
    display: inline-block;
    font: 20px 'Quicksand', sans-serif;
    letter-spacing: 1px;
    list-style: none;
    opacity: .5;
    padding: 10px 20px;
    text-transform: uppercase;
}

ul.series-categories-list li.video-cat:first-child {
	padding: 10px 20px 10px 0;
}

ul.series-categories-list li.video-cat:hover, 
ul.series-categories-list li.video-cat.active {
	opacity: 1;
}

ul.series-categories-list li.video-cat.active {
	font-weight: bold;
}

.single-video-wrapper {
	cursor: pointer;
	opacity: .5;
}

.single-video-wrapper.active {
    opacity: 1;
    -webkit-transition: opacity .15s ease-in;
       -moz-transition: opacity .15s ease-in;
         -o-transition: opacity .15s ease-in;
}

.single-video-wrapper.active .single-video-title {
	font-weight: bold;
}

.single-video-item {
	height: 0;
	overflow: hidden;
	max-width: 95%;
    padding-bottom: 55%;
}

.single-video-title {
	color: #547c5f;
    font: 20px 'Quicksand', sans-serif;
    margin: 15px 0 7px;
    text-transform: uppercase;
}

@media only screen and (min-width: 480px) and (max-width: 769px) {
	ul.series-categories-list {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap; 
	}

	.single-video-title {
		width: calc(100% - 20px);
	}
}

@media only screen and (max-width: 480px) {
	.series-categories-wrapper {
		padding: 0;
	}

	ul.series-categories-list {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap; 
	}

	ul.series-categories-list li.video-cat:first-child {
		padding-left: 25px;
	}

	.single-video-title {
		margin: 10px 0 30px 25px;
		width: calc(100% - 40px);
	}
}

.slick-prev, 
.slick-next {
    align-items: center;
    background: #547c5f;
    cursor: pointer;
	display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    transition: background .1s ease-out;
    z-index: 100;
}

.slick-prev.slick-disabled, 
.slick-next.slick-disabled {
	background: #bababa;
	cursor: not-allowed;
	transition: background .1s ease-out;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-prev i, .slick-next i {
	color: #fff;
	font-size: 38px;
    padding: 0 5px;
}

.slick-slide img {
  max-height: auto;
  width: 100%;
}

@media only screen and (max-width: 480px) {
	.slick-arrow {
		display: none !important;
	}

	.slick-list {
		padding: 0 20% 0 0;
	}
}
